<!DOCTYPE html>
<html lang="ZH-cn">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0,minimum-scale=1, maximum-scale=1, user-scalable=no">
    <title>测试表单</title>
</head>
<body>
<form action="/api/addarticle">
    <label for="title">文章名</label><input type="text" name="title" /><br />
    <label for="title">文章正文</label><textarea name="body" id="" cols="30" rows="10"></textarea>
</form>
</body>
</html>